body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  background: #fafafa;
}

/* header styles */
header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  position: relative;
  text-decoration: none;
  color: var(--color-foreground);
}
header a sup {
  position: absolute;
  left: 100%;
  overflow: hidden;
  max-width: var(--page-margin);
}
header svg {
  width: 2rem;
}
header .header__menu,
header .header__icons {
  display: flex;
  gap: 1rem;
}

.main_logo img {
  width: 100px;
  height: auto;
}

